@font-face {
font-family: 'AWanLite';
src: url('./AWanLite/AWanLite.eot');
src:
url('./AWanLite/AWanLite.eot') format('embedded-opentype'),
url('./AWanLite/AWanLite.woff2') format('woff2'),
url('./AWanLite/AWanLite.woff') format('woff'),
url('./AWanLite/AWanLite.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: swap;
}
/**
:not(i) {
font-family: "AWanLite";
}
**/
*:not ([class*="icon"]):not (i) {
font-family: "AWan" !important;
}
